{% extends 'base.html.twig' %}
    
{% block title %}Connexion{% endblock %}

{% block body %}
<style>
    .labelPassword{position: relative;}
    .password-icon{display:flex; position:absolute; align-items:center; transform: translate(-15%, -120%); right: 40%;}
    .password-icon .feather-eye-off{ display: none;}
    .password-icon:hover{cursor: pointer;}
</style>
<section class="container " style="height:37vh; margin:10%">
    <div class="col">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-5  fw-bold" >Me connecter</h1>
            <div class="login_form fw-bold mb-7" >
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="login_form fw-bold" id="loginForm" >
                <label for="inputPassword" id="labelPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <div class="password-icon" >
                    <i data-feather="eye" ></i>
                    <i data-feather="eye-off" ></i>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="connect-button" >
                <button class="btn btn-lg btn-primary my-3" type="submit">
                    Connexion
                </button>
                <a href="{{path('app_register')}}" class="register text-dark fw-bold" ><p>Pas de compte? S'inscrire <span style="color:#5d69ed;">içi</span></p>.</p></a>
            </div>
            
        </form>        
               
    </div>
</section>
<script src="https://unpkg.com/feather-icons"></script>
<script>feather.replace();</script>

{# password visible/hidden #}
<script>
    const eye = document.querySelector('.feather-eye');
    const eyeoff = document.querySelector('.feather-eye-off');
    const passwordField = document.querySelector('input[type =password]');

    eye.addEventListener('click', () => {
        eye.style.display = "none";
        eyeoff.style.display = "block";
        passwordField.type = "text";
    });

    eyeoff.addEventListener('click', () => {
        eyeoff.style.display = "none";
        eye.style.display = "block";
        passwordField.type = "password";
    });
</script>



{% endblock %}
