{% extends 'base.html.twig' %}

{% block title %}Liste des produits!{% endblock %}

{% block body %}
<section class="row col-12 " style="margin-top:10%;">

  
        <ol class="breadcrumb  ps-3 py-3 fs-5 ms-5 " >
            <li class="breadcrumb-item " ><a href="{{path('app_home')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produits</li>
        </ol>       
         
    
    <div class="col-12">

       
        <h1 class="display-4 bg-dark mx-5  text-white text-center rounded shadow-lg" >Articles</h1>
        {% if  is_granted('ROLE_ADMIN') %}
            <a class="btn mx-5 p-3  btn-success" href="{{path('admin_productsadd')}}">Ajout d'un produit</a>
        {% endif %}

        <div class="row col-10 mx-auto  mt-4 justify-content-center">

            {% for product in products %}
                <div class="card bg-light  mb-5 mx-5  col-md-4 col-sm-5 col-xs-10 text-black fw-bolder" style="max-width: 20rem; height: 50%;">
                    
                    <div class="card-body text-center">
                        <h4 class="card-title">{{product.name}}</h4>
                        <p class="card-text">{{product.description}}</p>
                        <div class=" ">
                            <img src="{{ asset('assets/upload/fichier/') ~ product.image }}" class="d-block w-100" alt="{{ product.name }}">
                        </div>
                        <small class="price text-black">Prix :  {{product.price }} €</small>
                    
                
                        <div class="row justify-content-center">
                            <a class="btn col-4 m-2 btn-secondary" href="{{path('products_app_show', {'id': product.id})}} )}}">Voir</a>
                        
                            {% if  is_granted('ROLE_ADMIN') %}  
                            <a class="btn col-4 m-2 btn-success" href="{{path('admin_productsedit', {'id': product.id})}}">Editer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
    
</section>
{% endblock %}
