<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- MDB icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> 
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
         
        <!--Feuilles de styles-->
        <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/navbar1.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/navbar2.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/promo.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/slider.css')}}">

        <link rel="stylesheet" href="{{asset('assets/css/mdb.min.css')}}" />
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        {% block stylesheets %}
           <!-- MDB -->
        
        {% endblock %}
            <!--Fichiers JS-->
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
    <body>
        <header>
         {% block header %}

            {% include 'incs/navbar1.html.twig'%}
            {% include 'incs/navbar2.html.twig'%}


         {% endblock %}
        
        
        </header>
        
     
        {% block body %}{% endblock %}

        <footer>
        {% block footer %}
        
        {% include 'incs/footer.html.twig'%}
        
        {% endblock %}
        
        
        </footer>

        <!-- MDB -->
  <script type="text/javascript" src="../assets/js/mdb.min.js"></script>
    </body>
</html>
